@import '../gtk-4.0/common/colors.css';
@import '../gtk-4.0/common/common.css';


/* Based on adw-gtk version 4.7 and 4.9 */

* { padding: 0; -GtkToolButton-icon-spacing: 4; -GtkTextView-error-underline-color: @error_bg_color; -GtkScrolledWindow-scrollbar-spacing: 0; -GtkToolItemGroup-expander-size: 11; -GtkWidget-text-handle-width: 20; -GtkWidget-text-handle-height: 24; -GtkDialog-button-spacing: 4; -GtkDialog-action-area-border: 0; outline-color: alpha(currentColor,0.3); outline-style: dashed; outline-offset: -3px; outline-width: 1px; -gtk-outline-radius: 4px; -gtk-secondary-caret-color: @accent_bg_color; }

*:disabled { -gtk-icon-effect: dim; }

.gtkstyle-fallback { color: @window_fg_color; background-color: @window_bg_color; }

.gtkstyle-fallback:hover { color: @window_fg_color; background-color: shade(@window_bg_color,1.1); }

.gtkstyle-fallback:active { color: @window_fg_color; background-color: shade(@window_bg_color,0.9); }

.gtkstyle-fallback:disabled { color: mix(@window_fg_color,@window_bg_color,0.5); background-color: mix(@window_bg_color,@view_bg_color,0.4); }

.gtkstyle-fallback:selected { color: @accent_fg_color; background-color: @accent_bg_color; }

*:disabled {
    -gtk-icon-effect: dim;
}


popover, popover.background, .background.popup {
	border: none; /*1px solid mix(@popover_bg_color, @popover_fg_color, 0.5);*/
	background-color: @popover_bg_color;
	color: @popover_fg_color;
}


entry progress {
    background: none;
    box-shadow: inset 0 -0.1em 0 0 @accent_color, 0 0.1em 0 0 @accent_color;
    border-radius: 0;
}

@keyframes spin {
	to { -gtk-icon-transform: rotate(1turn); }
}
@keyframes spin-no-spin {
	to { -gtk-icon-transform: rotate(0.25turn); }
}

decoration {
    box-shadow: 0 0.5em 1em 0 alpha(black, 0.5),
				0 0 0 1px @headerbar_fg_color;
    margin: 1em; /*for resizing */
}
decoration:backdrop {
    box-shadow: 0 0.5em 1em 0 alpha(black, 0.5),
				0 0 0 1px mix(@headerbar_bg_color, @headerbar_fg_color, 0.5);
}

popover, popover.background,
.csd.popup > decoration, .csd.popup > decoration:backdrop {
    box-shadow: 0 0.1em 0.3em 0 alpha(black, 0.5);
    }
popover, popover.background {
    border: 1px solid mix(@popover_bg_color, @popover_fg_color, 0.5);
}

/* including some specificty bumps, the need for which I don't have an explanation */

decoration, .background .titlebar:dir(ltr), .background .titlebar:dir(rtl) {
border-radius: 12px 12px 0 0;
}
.background.tiled .titlebar:backdrop, .background.tiled .titlebar,
.background.tiled-top .titlebar:backdrop,
.background.tiled-top .titlebar,
.background.tiled-right .titlebar:backdrop,
.background.tiled-right .titlebar,
.background.tiled-bottom .titlebar:backdrop,
.background.tiled-bottom .titlebar,
.background.tiled-left .titlebar:backdrop,
.background.tiled-left .titlebar,
.background.maximized .titlebar:backdrop,
.background.maximized .titlebar,
.background.solid-csd .titlebar:backdrop,
.background.solid-csd .titlebar {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
  

/* madness for rounded corners, taken from Plane-dark 3.36 */
window separator:first-child + headerbar:backdrop, window separator:first-child + headerbar,
window headerbar:first-child:backdrop,
window headerbar:first-child {
  border-top-left-radius: 12px; }

window headerbar:last-child:backdrop, window headerbar:last-child {
  border-top-right-radius: 12px; }

window stack headerbar:first-child:backdrop, window stack headerbar:first-child, window stack headerbar:last-child:backdrop, window stack headerbar:last-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px; }

window.tiled headerbar, window.tiled headerbar:first-child, window.tiled headerbar:last-child, window.tiled headerbar:only-child, window.tiled headerbar:backdrop, window.tiled headerbar:backdrop:first-child, window.tiled headerbar:backdrop:last-child, window.tiled headerbar:backdrop:only-child,
window.tiled-top headerbar,
window.tiled-top headerbar:first-child,
window.tiled-top headerbar:last-child,
window.tiled-top headerbar:only-child,
window.tiled-top headerbar:backdrop,
window.tiled-top headerbar:backdrop:first-child,
window.tiled-top headerbar:backdrop:last-child,
window.tiled-top headerbar:backdrop:only-child,
window.tiled-right headerbar,
window.tiled-right headerbar:first-child,
window.tiled-right headerbar:last-child,
window.tiled-right headerbar:only-child,
window.tiled-right headerbar:backdrop,
window.tiled-right headerbar:backdrop:first-child,
window.tiled-right headerbar:backdrop:last-child,
window.tiled-right headerbar:backdrop:only-child,
window.tiled-bottom headerbar,
window.tiled-bottom headerbar:first-child,
window.tiled-bottom headerbar:last-child,
window.tiled-bottom headerbar:only-child,
window.tiled-bottom headerbar:backdrop,
window.tiled-bottom headerbar:backdrop:first-child,
window.tiled-bottom headerbar:backdrop:last-child,
window.tiled-bottom headerbar:backdrop:only-child,
window.tiled-left headerbar,
window.tiled-left headerbar:first-child,
window.tiled-left headerbar:last-child,
window.tiled-left headerbar:only-child,
window.tiled-left headerbar:backdrop,
window.tiled-left headerbar:backdrop:first-child,
window.tiled-left headerbar:backdrop:last-child,
window.tiled-left headerbar:backdrop:only-child,
window.maximized headerbar,
window.maximized headerbar:first-child,
window.maximized headerbar:last-child,
window.maximized headerbar:only-child,
window.maximized headerbar:backdrop,
window.maximized headerbar:backdrop:first-child,
window.maximized headerbar:backdrop:last-child,
window.maximized headerbar:backdrop:only-child,
window.fullscreen headerbar,
window.fullscreen headerbar:first-child,
window.fullscreen headerbar:last-child,
window.fullscreen headerbar:only-child,
window.fullscreen headerbar:backdrop,
window.fullscreen headerbar:backdrop:first-child,
window.fullscreen headerbar:backdrop:last-child,
window.fullscreen headerbar:backdrop:only-child,
window.solid-csd headerbar,
window.solid-csd headerbar:first-child,
window.solid-csd headerbar:last-child,
window.solid-csd headerbar:only-child,
window.solid-csd headerbar:backdrop,
window.solid-csd headerbar:backdrop:first-child,
window.solid-csd headerbar:backdrop:last-child,
window.solid-csd headerbar:backdrop:only-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }




/* since they do not work properly on gtk4, remove box-shadow in gtk-3 */
tooltip.background decoration {
    box-shadow: none;
}

/* calendar */

calendar:selected {
	color: @accent_fg_color;
	background-color: @accent_bg_color;
}
calendar.highlight { /* weekdays' names */
    color: alpha(currentColor, 0.5);
}
calendar:indeterminate { /* days numbers of previous or next month */
    color: alpha(currentColor, 0.3);
}


/* draggable elements (in gtk3, the size of the circle needs to be much smaller!)*/

slider, tab.reorderable-page, tabbox > tabboxchild > tab, paned > separator {
	background-image: radial-gradient(circle, alpha(currentColor, 0.2), alpha(currentColor, 0.2) 20%, alpha(currentColor, 0) 20%);
	background-size: 5px 5px;
	background-position: center;
	background-repeat: repeat;
}
