[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/leigh/Desktop/overlord]
row=4
col=0

[4981682e-122b-4cbd-bb44-172f2ae56971]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/leigh]
row=3
col=0

